@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
$header-color:black;
$text-color:white;
$logo:red;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Electrolize', sans-serif;
}
/* navbar start */
header{
    background-color:$header-color ;
    height: 60px;
    color: $text-color;
    position: sticky;
    top: 0;
    z-index: 1;
     nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
height: 100%;
padding: 0 50px;
.logo{
    color: $logo;
    font-size: 30px;
}
    .menu-list{
        display: flex;
gap: 30px;
        &-item{
            list-style: none;
            padding: 0;
            &.active{
                a{
                    font-weight: bold;
                }
            }
            a{
                text-decoration: none;
                color: $text-color;
                cursor: pointer;
               
            }
            a:hover{
                font-weight: bold;
            }
          
        }
    }
    .profile-container{
display: flex;
align-items: center;
gap: 20px;
        &-picture{
            width: 32px;
            height: 32px;
            border-radius: 50px;
            object-fit: cover;
        }
        &-text{
            display: flex;
            align-items: center;
            gap: 5px;
            line-height: 1;
        }
        &-toggle{
   width: 40px;
   background-color: white;
   height: 20px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   position: relative;
  
        }

        .profile-container-toggle>i{
    color: goldenrod;
}

.toggle-ball{
    width: 18px;
    height: 18px;
  border-radius: 50%;
  background-color: $header-color;
  cursor: pointer;
  position: absolute;
  right: 1px; 
  transition: .5s ease all;
   }

    }

    } 

}
/* navbar end */

/* sidebar start */
.sidebar{
    height: 100%;
   background-color: $header-color;
   width: 50px;
   color:$text-color;
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding-top: 60px;
   align-items: center;
   position: fixed;
   top:0;
}
.sidebar i{
    color: $text-color;
    font-size: 20px;
    cursor: pointer;
   
}

/* sidebar end */

.container{
    background-color: $header-color;
    color: $text-color;
}

/* featured content start */
.content-wrapper{
    margin-left: 50px;
}
.featured-content{
background: url('/resimler/spiderman.jpg');
padding: 50px;
height: calc(100vh - 60px);
background-size: 100% 100%;
}
.featured-content>img{
    width: 400px;
}
.featured-content>p{
    width: 500px;
    padding: 10px;
    margin: 30px 0;
    background-color: rgba(255,255,255,0.5);
    color: $header-color;
}

.featured-buttons{
    display: flex;
gap: 20px;
flex-wrap: wrap;
}

.featured-buttons>button{
    padding: 10px 25px;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    display:flex;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
}

.featured-buttons>button:nth-child(2){
    background-color:rgba(145,142,142,0.5);
    color: $text-color;
}
/* featured content end */

/* filter start */
.movie-list-filter{
    margin: 20px 0 20px 50px;
    padding: 20px;
}
.movie-list-filter select{
    background-color: $header-color;
    color: $text-color;
    padding: 8px 0;
    width: 125px;
}

/* filter end */

/* Movie list start */

.movie-list-container{
    margin-left: 70px;
}
.movie-list-wrapper{
    overflow: hidden;
    position: relative;
}
.movie-list{
    list-style: none;
    padding: 0;
    height: 300px;
    display: flex;
    align-items: center;
    gap: 30px;
    transform: translateX(0);
    transition: 1s all ease-in-out;
}
.movie-item{
position: relative;
&-img{
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
}
&-title{
    background-color: rgba(40,40,40,0.4);
    padding: 0 10px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 40px;
    opacity: 0;
    transition: 0.5s all ease-in-out;
}
&-buttons{
    display: flex;
    gap: 20px;
    background-color: rgba(40,40,40,0.4);
    padding:  10px;
    font-weight: bold;
    position: absolute;
    bottom:10%;
    left: 40px;
    opacity: 0;
    transition: 0.5s all ease-in-out;
}
}
.movie-item:hover .movie-item-buttons,
.movie-item:hover .movie-item-title{
    opacity: 1;
}
.movie-item:hover .movie-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-item-buttons>i{
    cursor: pointer;
    opacity: .5;
    font-size: 20px;
    transition: 0.5s all ease;
}

.movie-item-buttons>i:hover{
    opacity: 1;
}

.arrow{
    width: 100px;
    display: flex;
    font-size: 120px;
    position: absolute;
    right: 0;
    top: 100px;
    opacity: .5;
    transition: .5s ease all;
    cursor: pointer;
}
.arrow:hover{
    opacity: 1;
}

/* Movie list end */


/* Dark mode start */
.container.active{
    background-color: $text-color;
}
header.active{
    background-color: $text-color;
    color: $header-color;
}
#lnk.active{
    color:$header-color;
}

.sidebar.active{
    background-color: $text-color;
}
.sidebar i.active{
    color: $header-color;
}

 #tg.active{
    background-color: $header-color;
 }

#bal.active{
    background-color: $text-color;
    transform: translateX(-20px);
}
.movie-list-filter select.active{
    background-color: $text-color;
    color: $header-color;
}
#tit.active{
    color:$header-color;
}
/* Dark mode end */

/* responsive start */
@media only screen and (max-width:800px){
header{
    nav{
        justify-content: space-around;
        gap: 10px;
    }
}
    .menu-container{
        display: none;
    }

    .featured-content{
        height: 70vh;
    }
    .featured-content>img{
        width: 200px;
    }

    .featured-content>p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        max-width: 200px;
        padding: 0;
    }

}

/* responsive end */
