*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    display: flex;
    flex-direction: column;
align-items: center;
    background-color: aquamarine;
    width: 320px;
    height: 460px;
}

.sonuç{
    border: 2px solid black;
    margin-top: 30px;
    width: 260px;
    height: 60px;
 
  border-radius: 10px;
  background-color: white;
  font-size: 45px;
  text-align: right;
  padding-right: 10px;
}

#sfr{
margin-top: 20px;
width: 250px;
height: 40px;
background-color: rgb(0, 149, 255);
border-radius: 50px;
border: none;
font-size: 16px;
color: #fff;
cursor: pointer;
}

.hesaplama{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px;
    align-items: center;
    justify-content: center;
   margin-top: 20px;
   gap: 10px;
}
.hesaplama>button{
    text-align: center;
    height: 60px;
    background-color: burlywood;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
}
.hesaplama>button:hover{
    color: darkgreen;
    font-size: 30px;
}